.example-container {
    padding-top: 20px;
}
  .example-container > * {
    width: 75vw;

  }

    .form__input > * {
    width: 75vw;

  }
  .title{
  padding-top: 20px;
  justify-content: center;
  }






 