
<mat-toolbar color="primary">
      <span>beba</span>
      <span class="spacer"></span>
    </mat-toolbar>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
<div class="example-container" fxLayout="column" fxLayoutAlign="center center">

  <h4><mat-card-title class="title">Register</mat-card-title>
</h4>
        <!--FORM FIELDS HERE-->
         <mat-form-field class="full-width">
            <mat-label>Firstname</mat-label>
            <input formControlName="firstname" name="firstname" matInput placeholder="Firstname" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Lastname</mat-label>
            <input  formControlName="lastname" name="lastname" matInput placeholder="Lastname" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>IDnumber</mat-label>
            <input formControlName="idnumber" name="idnumber" matInput placeholder="IDnumber" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Phonenumber</mat-label>
            <input formControlName="phonenumber" name="phonenumber" matInput placeholder="Phonenumber" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" name="email" matInput placeholder="Email" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" name="password" matInput placeholder="Password" required> 
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirm" name="confirm" matInput placeholder="Confirm Password" required> 
         </mat-form-field>
      <!--REGISTER BUTTON HERE-->

<section class="example-section">
  <mat-checkbox class="example-margin">Accept Terms and Conditions</mat-checkbox>
</section>
      <button mat-raised-button color="primary" type="submit">REGISTER</button>
   <p>No account?  <a mat-flat-button routerLink="/login">LOGIN</a></p>
</div>
</form>


