.profile-card {
  text-align: center;
}
.logo{
  height: 50px;
  width: 50px;
}
.card{
  border-radius: 0 0 20px 20px; 
  margin-bottom: 20px;

}
.title{
  text-align: center;
}
.class1{
  text-align: center;

  margin-bottom: 4vh;
  border-radius: 5px;
  
}
.class2{
  text-align: center;

  margin-bottom: 4vh; 
  border-radius: 5px; 
  
}
.class3{
  text-align: center;

  margin-bottom: 4vh;
  border-radius: 5px;
  
}
.class4{
  text-align: center;

  margin-bottom: 4vh;
  border-radius: 5px;
  
}
.class5{
  text-align: center;

  margin-bottom: 4vh;
  border-radius: 5px;
  
}
.class6{
  text-align: center;

  margin-bottom: 4vh;
  border-radius: 5px;
  
}


