<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
<mat-card class="card">
  <div class="profile-card">
  <img class="logo" src="assets/user.png">
  <h3 class="title">
    John Doe
  </h3>
  <div>
    <button mat-stroked-button class="button" routerLink="/coming">Profile</button>
  </div>
</div>
</mat-card>
<h2 class="title">Solutions</h2>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class1" fxFlex="45" routerLink="/user">
    <mat-card-title>Hail a Ride</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Taxi, Parcel delivery</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class2" fxFlex="45" routerLink="/coming">
    <mat-card-title>Ride sharing</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Ride sharing</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class3" fxFlex="45" routerLink="/coming">
    <mat-card-title>Hire a Ride</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Connect with car hire agents</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class4" fxFlex="45" routerLink="/coming">
    <mat-card-title>Find a house</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Connect with Real Estate Agent</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class5" fxFlex="45" routerLink="/coming">
    <mat-card-title>Store</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Sell/Buy products</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class6" fxFlex="45" routerLink="/coming">
    <mat-card-title>Order Food</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Order food from favorite restaurants</p>
    </mat-card-content>
  </mat-card>
</div>