<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
    <swiper
    [pagination]="{
      dynamicBullets: true
    }"
    class="mySwiper">

    <ng-template swiperSlide>        
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Welcome to Beba</h2>
    <h4>The app that provides your transport solutions</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
        </ng-template>

        <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Afterwork revenue</h2>
    <h4>Use your private vehicle to earn extra revenue</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
  </ng-template>

  <ng-template swiperSlide>        
    <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Relocating</h2>
    <h4>Are you moving to a new house?</h4>
    <h4>Beba is the App for you</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Agricultural produce</h2>
    <h4>Need to move your Agricultural produce to the market asap</h4>
    <h4>Beba is the App for you</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Construction Material</h2>
    <h4>Need to move your construction equipment/material to site</h4>
    <h4>Beba is the App for you</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Breakdown Services</h2>
    <h4>Are you stranded, Do you need breakdown services</h4>
    <h4>Beba is the App for you</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

        <ng-template swiperSlide>
                    <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Cargo</h2>
    <h4>Need cargo moved</h4>
    <h4>Beba is the App for you</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>
  </swiper>
