<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
    <swiper
    [pagination]="{
      dynamicBullets: true
    }"
    class="mySwiper">

    <ng-template swiperSlide>        
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Welcome to Beba</h2>
    <h3>The app that provides your transport solutions</h3>
    <h4>Swipe right for more information</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
        </ng-template>

        <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Afterwork revenue</h2>
    <h3>Use your vehicle (private or public) to earn extra revenue</h3>
    <h4>Swipe right for more information</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
  </ng-template>

  <ng-template swiperSlide>        
    <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>How it works?</h2>
    <h3>Rideshare with people heading the same direction as you</h3>
    <h4>Swipe right for more information</h4>
    <h4></h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>When to use?</h2>
    <h4>Anytime, Anywhere</h4>
    <h4>Swipe right for more information</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>How to use?</h2>
    <h4>Register as driver or rider and you are good to go</h4>
    <h4>Swipe right for more information</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Be Safe on the road</h2>
    <h4>Beba cares for your safety and privacy</h4>
    <h4>Swipe right for more information</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

        <ng-template swiperSlide>
                    <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>More Info</h2>
    <h4>Environment friendly, Reduce traffic</h4>
    <h4>The more clients the merrier</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>
  </swiper>
