<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
<div class="example-container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Upload Driver Details</h2>
  <h3>Personal documents will be kept private and only used on need be basis</h3>
  <div class="upload">
    <h4>Driver Profile Photo</h4>
    <mat-label for="picked">Upload your profile photoon a clear plain background: </mat-label>
    <input type="file" id="picked" #picked>
  </div>
    <div class="upload">
      <h4>National ID</h4>
      <mat-label for="picked">Upload a clear National ID front or Passport bio page: </mat-label>
      <input type="file" id="picked" #picked>
    </div>
    <div class="upload">
      <h4>Regular (Non-PSV) Driving license</h4>
      <mat-label for="picked">Upload a clear picture of your Kenyan Driving license, or International Driving license. Ensure expiry date is visible: </mat-label>
      <input type="file" id="picked" #picked>
  </div>
    <div class="upload">
      <h4>NTSA PSV license (Badge)</h4>
    <mat-label for="picked">Required for vehicle drivers only (not applicable for boda riders): </mat-label>
    <input type="file" id="picked" #picked>
    </div>
    <div class="upload">
      <h4>Police clearance certificate(Certficate of Good conduct)</h4>
      <mat-label for="picked">Please Upload a clear copy of your most recent police clearance certificate(certificate of good conduct): </mat-label>
      <input type="file" id="picked" #picked>
    </div>
    <div class="upload">
      <mat-label for="picked">Choose a file to upload:</mat-label>
      <input type="file" id="picked" #picked>
  </div>

